.btn {
    display: inline-block;
    border: none;
    padding: 12px 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 100ms linear;

    &.btn-close {
        background: $dark-gray;
        color: $white;
        border: 2px solid transparent;

        &:hover {
            background: $white;
            color: $dark-gray;
            border: 2px solid $dark-gray;
        }
    }
}