.dice-wrap {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -25px;
  background: $white;
  border-radius: 16px;
  padding: 0;
  width: 50px;
  height: 50px;

  @include media-breakpoint-up(md) {
    width: 80px;
    height: 80px;
    top: 80px;
    margin-left: -40px;
  }
}

.dice {
  width: 50px;
  height: 50px;

  @include media-breakpoint-up(md) {
    width: 80px;
    height: 80px;
  }
}
