.dice-wrap {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -40px;
    background: $white;
    border-radius: 16px;
    padding: 0;
    width: 80px;
    height: 80px;

}

.dice {
    width: 80px;
    height: 80px;
}