.player {
  width: 50%;
  padding: 40px;
  text-align: center;

  &-name {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    color: $dark-gray;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 24px;

    @include media-breakpoint-up(sm) {
      font-size: 24px;
      flex-direction: row;
    }

    @include media-breakpoint-up(xl) {
      font-size: 64px;
      font-weight: 100;
    }

    .indicator {
      width: 8px;
      height: 8px;
      visibility: hidden;
      border-radius: 16px;
      background: $secondary;
      margin-bottom: 8px;

      @include media-breakpoint-up(sm) {
        margin-bottom: 0;
        margin-left: 12px;
      }
    }
  }

  &-score {
    font-size: 40px;
    font-weight: 100;
    color: $secondary;
    @include media-breakpoint-up(xl) {
      font-size: 80px;
      font-weight: 100;
    }
  }

  &-one {
  }

  .round-score {
    background: $primary;
    padding: 16px 0;
    border-radius: 8px;
    margin-top: 40px;

    @include media-breakpoint-up(xl) {
      display: inline-block;
      padding: 24px 64px;
    }

    &-text {
      text-transform: uppercase;
      color: $dark-gray;

      @include media-breakpoint-up(xl) {
        font-size: 40px;
        font-weight: 100;
      }
    }

    &-score {
      font-size: 24px;
      color: $white;

      @include media-breakpoint-up(xl) {
        font-size: 64px;
        font-weight: 100;
      }
    }
  }

  &.active {
    background: $gray;
    .player-name {
      .indicator {
        display: block;
        visibility: visible;
      }
    }
  }
}
