body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto;
    background: $primary;  /* fallback for old browsers */
    background: linear-gradient(to right, $secondary, $primary);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $secondary, $primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: -150px;
}

footer {
    position: absolute;
    bottom: 24px;
    color: $dark-gray;
}

a {
    color: $dark-gray;

    &:hover {
        text-decoration: none;
    }
}
